html{
    height:100%

}

.boxes{
    background-color: #AD92FF;
    font-family: "Bai Jamjuree", sans-serif;
    -webkit-text-fill-color:#F5F5F5;

    overflow-x: hidden;
    overflow-y:scroll;
    min-height: 100% 
    
}

h1{
    font-family: "Archivo Black";
    font-size: 210px;
    -webkit-text-fill-color:#7446FC;
    line-height: 134px;
    position: relative; right:1%;
    letter-spacing: -5px;

}

h4{
    -webkit-text-fill-color:#AD92FF;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight:500;
    font-size: 40px;
    margin: 0;




}
.haring{
    background-color: #7446FC;
    padding-top: 25px;
    padding-left: 400px;
    padding-right: 150px;
    border-radius: 25px;
    padding-bottom: 20px;
    width: 30%;
    position: relative; right:1%;
    bottom: 140px;
    
    font-size: 26px;

}

.cult{
    background-color: #7446FC;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 350px;
    border-radius: 25px;
    padding-bottom: 20px;
    
    width: 18%;
    text-align: right;
    position: relative; left:65%;
    bottom: 1160px;

    font-size: 26px;
}

.adobe{
    background-color: #7446FC;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 250px;
    border-radius: 25px;
    padding-bottom: 60px;

    position: relative; right:1%;
    bottom: 1100px;

    width: 18%;

    font-size: 26px;
    margin-bottom:0;
}

.collage{
    background-color: #7446FC;
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 850px;
    border-radius: 25px;
    padding-bottom: 10px;
    
    width: 40%;
    text-align: right;
    position: absolute; left:40%;
    top: 143%;

    font-size: 26px;
    margin-bottom:0;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  

  li a {
    display: inline-block;
    font-family: "Bai Jamjuree";
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
    position: relative;
    font-size: 3em;
  }

 

  .link{
    translate: 20px;
    /* transition: width .5s; */
  }

  /* .link:hover{
    translate: 100px;
  }

  .link::before:hover{
    width: 90px; 
} */

.active{
    translate: 100px;
    color:#7446FC;
  }

  .active::before{
    content: "";
    position: absolute;
    left: -110px;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: #7446FC;
    color: #7446FC;
  }

  .home-link{
    color: #73CC68;
  }

  .about-link{
    color: #34E3EA;
  }

  .style-link{
    color: #FFFF92;
  }
  
.awards-link{
    color:#FF92F0;

}

  .home-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #73CC68;
  }

  .about-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #34E3EA;
  }

  .style-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color:#FFFF92;
  }

  .awards-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #FF92F0;
  }