body{
    background-color: #FF92F0;
    font-family: "Bai Jamjuree", sans-serif;
     
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-text-fill-color: #FFFFFF;
}

.sideways{
    font-size: 186px;
    rotate: -90deg;
    -webkit-text-fill-color: #E476D6;
    font-weight:bolder;
    font-family: "Archivo Black";
    position:relative; bottom: 985px;
    left:14.5%;
    letter-spacing: -6px;


}

.awards{
    background-color:#E476D6;
    width: 25%;
    position:relative; bottom: 775px;
    left:67%;

    font-size: 34px; 
    padding-left: 80px;
    padding-right: 1000px;
    padding-top: 40px;
    padding-bottom: 5px;
    border-radius: 25px;

}

.exhibition{
    background-color:#E476D6;
    width: 30%;
    text-align:right;
    

    font-size: 34px; 
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 5px;
    border-radius: 25px;

    position: relative; bottom: 750px;
    right:1%;

}

h1{
    -webkit-text-fill-color: #E476D6;
    font-size: 210px;
    font-family: "Archivo Black";
    line-height: 130px;
    letter-spacing: -8px;

    position: relative; bottom: 1295px;
    left:33.6%;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  

  li a {
    display: inline-block;
    font-family: "Bai Jamjuree";
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
    position: relative;
    font-size: 3em;
  }

 

  .link{
    translate: 20px;
    /* transition: width .5s; */
  }

  /* .link:hover{
    translate: 100px;
  }

  .link::before:hover{
    width: 90px; 
} */

.active{
    translate: 100px;
    color:#EA3AD2;
  }

  .active::before{
    content: "";
    position: absolute;
    left: -110px;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: #EA3AD2;
    color: #EA3AD2;
  }

  .home-link{
    color: #73CC68;
  }

  .about-link{
    color: #34E3EA;
  }

  .gallery-link{
    color: #7446FC;
  }
  
.style-link{
    color:#FFFF92;

}

  .home-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #73CC68;
  }

  .about-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #34E3EA;
  }

  .gallery-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color:#7446FC;
  }

  .style-link::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #FFFF92;
  }